go 1.22.4

use (
	./tests/calculus
	./tests/calculus_nil-deref
	./tests/helloworld
	./tests/sum
	./tests/ptr_nil-deref
	./tests/ptr_nil-deref_sleep
	./tests/assert
	./tests/additiongo
	./tests/additiongo-ptrderef
	./tests/additiongo-noruntime
	./tests/additiongo-1thread
	./tests/additiongo-tinygo
	./tests/additiongo-tinygo_ptr-deref
	./tests/go-bug
	./tests/go-http-attributes
	./tests/go-bug2
	./tests/go-bug3
	./tests/go-decodebytes
	./tests/tinygo-mqtt
	./tests/tinygo-compress
)